<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="clypdat-avalonia" value="..\clypdat-avalonia\artifacts\nuget" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <clear />
    <packageSource key="clypdat-avalonia">
      <package pattern="Avalonia*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
      <package pattern="Avalonia.BuildServices" />
      <package pattern="Avalonia.Angle.Windows.Natives" />
    </packageSource>
  </packageSourceMapping>
</configuration>
